{% extends 'base.html.twig' %}

{% block body %}
    <div class="table-responsive mt-3">
        <table class="table border">
            <thead>
                <th>#</th>
                <th>name</th>
                <th>Date</th>
            </thead>
            <tbody>
                {% for day in days %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('read', {id: day.id}) }}">{{ day.name }}</a></td>
                    <td><a href="">{{ day.date|date("Y/m/d") }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}